{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            {% comment %} <a class="nav-link font-weight-bold" href="{% url 'financial:financials' %}" 
                                role="button"><i class="fas fa-chevron-left text-primary"></i></a> {% endcomment %}
                                <a href="javascript:close_window();"><i class="fas fa-times text-danger"></i></a>
                                <a href="{% url 'financial:bank_transfers_list' %}" class="btn btn-secondary btn-sm">{% translate 'Back to list' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% comment %} {% for field in form %}
                                    {% bootstrap_field field %}
                                {% endfor %} {% endcomment %}
                                {% if form_mixin.errors %}
                                    {% for field in form_mixin %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form_mixin.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                
                                {% for field in form %}
                                    {% comment %} <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                                    <div class="col-sm-8">
                                        {{ field }}
                                    </div> {% endcomment %}
                                    {% bootstrap_field field %}
                                    {% if field.errors %}
                                        <div class="alert alert-danger alert-sm form_alert">{{ field.errors }}</div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                {% endfor %}
                                 
                                <button type="submit" class="btn btn-primary float-right" >{% translate 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {{ disbursement_meta|json_script:"disbursement-meta" }}
    {{ funding_meta|json_script:"funding-meta" }}
    {{ allocation_meta|json_script:"allocation-meta" }}
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        

        $(document).ready(function () {
            {% get_current_language as lang %}



            //Datetimepicker Input
            $('b[role="presentation"]').hide();
            $('.select2-selection__arrow').append(
                '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');
            let dp1 = '<div class="input-group-prepend" data-target="#{id}" data-toggle="datetimepicker">' +
                '<div class="input-group-text"><i class="fa fa-calendar text-primary"></i></div></div>';
            let dp2 = '<div class="input-group date" id="{id}" data-target-input="nearest"></div>';
            //Datemask dd/mm/yyyy
            $('.datetimepicker-input').inputmask({alias: "datetime", inputFormat: "dd/mm/yyyy"});
            let defaultDate = Date.now();
            
            let help_text1 = null;
            {% for field in form %}
                {% if "date" in field.name %}
                    $(('#id_{{ field.name }}')).before(dp1.replace('{id}', '{{ field.name }}')).parent().wrapInner(
                        dp2.replace('{id}', '{{ field.name }}'));
                    
                    help_text1 = $('#{{ field.name }} small')[0];
                    $('#{{ field.name }} small').remove();
                    $('#{{ field.name }}').after(help_text1);

                    {% if field.value %}
                        defaultDate = '{{ field.value|date:'Y-m-d' }}';//moment('{{ field.value }}').format('YYYY-MM-DD'); //moment("{{ field.value }}", "YYYY-MM-DD");
                        {% else %}
                            defaultDate = false;
                        {% endif %}
                        
                        if(defaultDate){
                            $('#{{ field.name }}').datetimepicker({
                                maxDate: Date.now(),
                                useCurrent: false,
                                defaultDate: defaultDate,
                                format: "DD/MM/YYYY",
                                widgetPositioning: {
                                    vertical: 'bottom',
                                }
                            });
                        }else{
                            $('#{{ field.name }}').datetimepicker({
                                maxDate: Date.now(),
                                format: "DD/MM/YYYY",
                                widgetPositioning: {
                                    vertical: 'bottom',
                                }
                            });
                        }

                {% endif %}
            {% endfor %}

            //End Datetimepicker Input
            
        });
    </script>








    <script type="text/javascript">
        function set_datas(element, data){
            element.html('');
            $(element).next().find('b[role="presentation"]').hide();
            $(element).next().find('.select2-selection__arrow').append(
                '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

            let options = '';
            $.each(data, function (index, value) {
                let option = '<option value="' + value.id + '">';
                
                option += value.name + '</option>';
                options += option

            });
            element.html(options);
            element.trigger('change');
            let element_val = element.val();
            if (element_val !== '') {
                element.val(element_val)
            }
        }

        $(document).ready(function () {
            {% get_current_language as lang %}
            let child = $("#id_administrative_level");
            let object_id = null;
            
            {% if object or allocation %}
                object_id = "{{ object.id }}";
            {% else %}  
                // child.html('');
            {% endif %}

            $(document).on("change", "#id_canton", function () {
                if($(this).val()){
                    $(this).attr('disabled', true);
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'administrativelevels:utils:get_choices_for_next_administrative_level_no_condition' %}",
                        data: {
                            parent_id: $(this).val()
                        },
                        success: function (data) {
                            if (data.length > 0) {
                                set_datas(child, data);
                            }
                        },
                        error: function (data) {
                            alert(error_server_message + "Error " + data.status);
                            $("#id_canton").attr('disabled', false);
                        }
                    }).done(function () {
                            $("#id_canton").attr('disabled', false);
                        }
                    );
                }else{
                    set_datas(child, []);
                }
            });


        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var disbursementMeta = JSON.parse(document.getElementById('disbursement-meta').textContent);
            var fundingMeta = JSON.parse(document.getElementById('funding-meta').textContent);
            var allocationMeta = JSON.parse(document.getElementById('allocation-meta').textContent);

            var $project = $('#id_project');
            var $funding = $('#id_funding');
            var $disbursement = $('#id_disbursement');
            var $allocation = $('#id_linked_to_allocation');

            if (!$project.length || !$funding.length || !$disbursement.length || !$allocation.length) {
                return;
            }

            // Full option lists, kept aside so any filter can always be rebuilt from scratch.
            var allProjectOptions = $project.find('option').clone();
            var allFundingOptions = $funding.find('option').clone();
            var allDisbursementOptions = $disbursement.find('option').clone();
            var allAllocationOptions = $allocation.find('option').clone();

            function rebuildSelect($select, allOptions, allowedIds) {
                var currentVal = $select.val();
                $select.empty();
                allOptions.each(function () {
                    var val = $(this).val();
                    if (val === '' || allowedIds === null || allowedIds.indexOf(val) !== -1) {
                        $select.append($(this).clone());
                    }
                });
                $select.val(allowedIds === null || allowedIds.indexOf(currentVal) !== -1 ? currentVal : '');
                $select.trigger('change.select2');
            }

            function onDisbursementChange() {
                var id = $disbursement.val();
                var meta = id ? disbursementMeta[id] : null;
                rebuildSelect($project, allProjectOptions, id ? (meta && meta.project_id != null ? [String(meta.project_id)] : []) : null);
                rebuildSelect($funding, allFundingOptions, id ? (meta && meta.funding_id != null ? [String(meta.funding_id)] : []) : null);
            }

            function onProjectChange() {
                var id = $project.val();
                var fundingIds = null, disbursementIds = null, allocationIds = null;
                if (id) {
                    fundingIds = Object.keys(fundingMeta).filter(function (fid) {
                        return String(fundingMeta[fid].project_id) === id;
                    });
                    disbursementIds = Object.keys(disbursementMeta).filter(function (did) {
                        return String(disbursementMeta[did].project_id) === id;
                    });
                    allocationIds = Object.keys(allocationMeta).filter(function (aid) {
                        return String(allocationMeta[aid].project_id) === id;
                    });
                }
                rebuildSelect($funding, allFundingOptions, fundingIds);
                rebuildSelect($disbursement, allDisbursementOptions, disbursementIds);
                rebuildSelect($allocation, allAllocationOptions, allocationIds);
            }

            function onFundingChange() {
                var id = $funding.val();
                var projectIds = null, disbursementIds = null;
                if (id) {
                    var meta = fundingMeta[id];
                    projectIds = (meta && meta.project_id != null) ? [String(meta.project_id)] : [];
                    disbursementIds = Object.keys(disbursementMeta).filter(function (did) {
                        return String(disbursementMeta[did].funding_id) === id;
                    });
                }
                rebuildSelect($project, allProjectOptions, projectIds);
                rebuildSelect($disbursement, allDisbursementOptions, disbursementIds);
            }

            $disbursement.on('change', onDisbursementChange);
            $project.on('change', onProjectChange);
            $funding.on('change', onFundingChange);
        });
    </script>

{% endblock %}