{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block content %}
{% include 'components/financial_menu.html' with active_menu='component' %}
{% include 'components/entity_filters.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            {% if user.is_superuser %}
                            <a class="btn btn-primary" href="{% url 'financial:component_create' %}">
                                {% translate 'Register a component' %}
                            </a>
                            {% endif %}
                            <a class="btn btn-outline-primary" href="{% url 'financial:component_export' %}?{{ request.GET.urlencode }}">
                                <i class="fas fa-file-excel"></i> {% translate 'Export' %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="table-components" class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% translate 'Type' %}</th>
                            <th>{% translate 'IDA Project' %}</th>
                            <th>{% translate 'Category' %}</th>
                            <th>{% translate 'Parent component' %}</th>
                            <th>{% translate 'Label' %}</th>
                            <th>{% translate 'Funding' %}</th>
                            <th>{% translate 'Own amount' %}</th>
                            <th>{% translate 'Target(s)' %}</th>
                            <th>{% translate 'Effective amount' %}</th>
                            <th width="14%">{% translate 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for component in components %}
                            <tr>
                                <td>
                                    {% if component.parent_id %}
                                        <span class="badge badge-info">{% translate 'Sub-component' %}</span>
                                    {% else %}
                                        <span class="badge badge-primary">{% translate 'Component' %}</span>
                                    {% endif %}
                                </td>
                                <td>{{ component.project.name|default_if_none:'-' }}</td>
                                <td>{{ component.category.name|default_if_none:'-' }}</td>
                                <td>{% if component.parent %}<a href="{% url 'financial:component_detail' component.parent.pk %}">{{ component.parent.name }}</a>{% else %}-{% endif %}</td>
                                <td><a href="{% url 'financial:component_detail' component.pk %}">{{ component.name }}</a></td>
                                <td>{{ component.funding_labels|default:'-' }}</td>
                                <td>{% if component.amount is not None %}{{ component.amount|separate_with_space }}{% else %}-{% endif %}</td>
                                <td>{{ component.target|default_if_none:'-' }}</td>
                                <td class="font-weight-bold">{{ component.effective_amount|separate_with_space }}</td>
                                <td>
                                    <a href="{% url 'financial:component_detail' component.pk %}" style="font-size: 9px !important;" class="btn btn-primary btn-xs" title="{% translate 'View details' %}"><i class="fa fa-eye"></i></a>
                                    {% if user.is_superuser or user|has_group:"Financial" or user|has_group:"Evaluator" or user|has_group:"Accountant" %}
                                    <a href="{% url 'financial:component_update' component.pk %}" style="font-size: 9px !important;" class="btn btn-primary btn-xs" title="{% translate 'Edit' %}"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include 'layouts/datatable-js.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}
            $('#table-components').DataTable({
                retrieve: true,
                language: { url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}') },
                dom: 'Blfrtip',
                buttons: [ 'copy', 'excel', 'pdf', 'colvis' ],
                lengthMenu: [10, 20, 50, 100],
                pageLength: 10,
                order: []
            });
        });
    </script>
{% endblock %}
