{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block content %}
{% include 'components/financial_menu.html' with active_menu='funding' %}
{% include 'components/entity_filters.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="btn-group pull-left">
                            {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" or user|has_group:"Accountant" %}
                            <a class="btn btn-primary" href="{% url 'financial:funding_create' %}">
                                {% translate 'Register a funding' %}
                            </a>
                            {% endif %}
                            <a class="btn btn-outline-primary" href="{% url 'financial:funding_export' %}?{{ request.GET.urlencode }}">
                                <i class="fas fa-file-excel"></i> {% translate 'Export' %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="table-fundings" class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% translate 'Type' %}</th>
                            <th>{% translate 'Financier' %}</th>
                            <th>{% translate 'IDA identification number' %}</th>
                            <th>{% translate 'IDA Project' %}</th>
                            <th>{% translate 'Label' %}</th>
                            <th>{% translate 'Initial amount' %}</th>
                            <th>{% translate 'Amount currently available' %}</th>
                            <th>{% translate 'Observations' %}</th>
                            <th width="14%">{% translate 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for funding in fundings %}
                            <tr>
                                <td><span class="badge {{ funding.funding_type|financial_status_badge }}">{{ funding.get_funding_type_display }}</span></td>
                                <td>{{ funding.get_financier_display|default:'-' }}</td>
                                <td>{{ funding.identification_number }}</td>
                                <td>{{ funding.project.name }}</td>
                                <td>{{ funding.label }}</td>
                                <td class="font-weight-bold">{{ funding.initial_amount|separate_with_space }}</td>
                                <td class="{% if funding.available_balance < 0 %}text-danger{% else %}text-success{% endif %} font-weight-bold">{{ funding.available_balance|separate_with_space }}</td>
                                <td>{{ funding.notes|default_if_none:'-'|truncatechars:40 }}</td>
                                <td>
                                    <a href="{% url 'financial:funding_detail' funding.pk %}" style="font-size: 9px !important;" class="btn btn-primary btn-xs" title="{% translate 'View details' %}"><i class="fa fa-eye"></i></a>
                                    {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" or user|has_group:"Accountant" %}
                                    <a href="{% url 'financial:funding_update' funding.pk %}" style="font-size: 9px !important;" class="btn btn-primary btn-xs" title="{% translate 'Edit' %}"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                    {% if user.is_superuser or user|has_group:"Financial" %}
                                    <a href="{% url 'financial:funding_delete' funding.pk %}" style="font-size: 9px !important;" class="btn btn-danger btn-xs" title="{% translate 'Delete' %}"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include 'layouts/datatable-js.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}
            $('#table-fundings').DataTable({
                retrieve: true,
                language: { url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}') },
                dom: 'Blfrtip',
                buttons: [ 'copy', 'excel', 'pdf', 'colvis' ],
                lengthMenu: [10, 20, 50, 100],
                pageLength: 10,
                order: []
            });
        });
    </script>
{% endblock %}
