{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block extracss %}
    {{ block.super }}
    {% include 'components/tabs_style.html' %}
{% endblock %}

{% block content %}
{% include 'components/financial_menu.html' with active_menu='supporting_document' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ supporting_document.reference }}</h3>
                    <div class="card-tools">
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'financial:supporting_document_export' %}"><i class="fas fa-file-excel"></i> {% translate 'Export' %}</a>
                        <a class="btn btn-secondary btn-sm" href="{% url 'financial:supporting_document_list' %}">{% translate 'Back to list' %}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3"><strong>{% translate 'Related disbursement' %}</strong><br>{% if supporting_document.disbursement %}{{ supporting_document.disbursement }}{% else %}-{% endif %}</div>
                        <div class="col-md-3"><strong>{% translate 'Related fund request' %}</strong><br>{% if supporting_document.disbursement_request %}{{ supporting_document.disbursement_request }}{% else %}-{% endif %}</div>
                        <div class="col-md-3"><strong>{% translate 'DRF date' %}</strong><br>{{ supporting_document.document_date }}</div>
                        <div class="col-md-3"><strong>{% translate 'Total amount justified' %}</strong><br>{{ supporting_document.total_justified_amount|separate_with_space }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <strong>{% translate 'File' %}</strong><br>
                            {% if supporting_document.file %}
                                <a href="{{ supporting_document.file.url }}" target="_blank">{{ supporting_document.file_name|default:supporting_document.file.name }}</a>
                            {% else %}-{% endif %}
                        </div>
                        <div class="col-md-6"><strong>{% translate 'Observations' %}</strong><br>{{ supporting_document.notes|default_if_none:'-' }}</div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body table-responsive">
                    <ul class="nav nav-tabs financial-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#document-tab-activities"><i class="fas fa-tasks"></i> {% translate 'Justified activities' %}</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#document-tab-history"><i class="fas fa-history"></i> {% translate 'History' %}</a></li>
                    </ul>
                    <div class="tab-content financial-tab-content">
                        <div id="document-tab-activities" class="tab-pane active">
                            {% include 'components/table_quick_filter.html' with target='document-activities-table' %}
                            <table id="document-activities-table" class="table table-striped table-sm">
                                <thead><tr><th>{% translate 'Activity' %}</th><th>{% translate 'Allocated amount' %}</th><th>{% translate 'Balance to justify' %}</th><th>{% translate 'Observations' %}</th><th>{% translate 'Files' %}</th></tr></thead>
                                <tbody>
                                {% for line in lines %}
                                    <tr>
                                        <td>{{ line.activity.name }}</td>
                                        <td>{{ line.allocated_amount|separate_with_space }}</td>
                                        <td class="{% if line.activity.balance_to_justify < 0 %}text-danger{% else %}text-success{% endif %}">{{ line.activity.balance_to_justify|separate_with_space }}</td>
                                        <td>{{ line.notes|default_if_none:'-' }}</td>
                                        <td>
                                            <ul class="pl-3 mb-1">
                                            {% for line_file in line.files %}
                                                <li>
                                                    {% if line_file.file %}<a href="{{ line_file.file.url }}" target="_blank">{{ line_file.file_name|default:line_file.file.name }}</a>{% else %}{{ line_file.file_name|default:'-' }}{% endif %}
                                                    <span class="badge badge-secondary">{{ line_file.get_document_type_display }}</span>
                                                    {% if user.is_superuser or user|has_group:"Financial" %}
                                                    <a href="{% url 'financial:supporting_document_activity_file_delete' line_file.pk %}" title="{% translate 'Delete' %}"><i class="fa fa-trash text-danger"></i></a>
                                                    {% endif %}
                                                </li>
                                            {% empty %}
                                                <li class="text-muted">{% translate 'No data' %}</li>
                                            {% endfor %}
                                            </ul>
                                            {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Evaluator" or user|has_group:"Accountant" %}
                                            <a href="{% url 'financial:supporting_document_activity_file_create' line.pk %}" class="btn btn-outline-primary btn-xs"><i class="fas fa-plus"></i> {% translate 'Add a file' %}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr><td colspan="5" class="text-center">{% translate 'No data' %}</td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id="document-tab-history" class="tab-pane fade">
                            {% include 'components/history_panel.html' with target=supporting_document %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include 'components/table_filter_js.html' %}
{% endblock %}
