{% load static i18n bootstrap4 custom_tags %}

<style>
    .card_image_transparent {
        opacity: 0.5;
        width: 60px; 
        height: 60px; 
        margin: auto !important; 
        margin-top: 11px !important
    }
</style>


<div class="row">
    <div class="col-2">
        <div class="card mb-0" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4 ">
                    <img 
                        src="{% static 'images/subproject.png' %}" 
                        class="card-img card_image_transparent" alt="infrastructure">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 10px;">{% translate "Subprojects" %}</h5><br />
                        <p class="card-title" style="font-weight: bold !important">{{ total_without_link }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card mb-0" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img 
                        src="{% static 'images/infrastructures_.png' %}" 
                        class="card-img card_image_transparent" alt="infrastructure">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 10px;">{% translate "Infrastructures" %}</h5><br />
                        <p class="card-title" style="font-weight: bold !important">{{ total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card mb-0" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img 
                        src="{% static 'images/infrastructure.png' %}" 
                        class="card-img card_image_transparent" alt="infrastructure">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 10px;">{% translate "Infras with latrines/fences" %}</h5><br />
                        <p class="card-title" style="font-weight: bold !important">{{ total_infrastrutures }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card mb-0" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img 
                        src="{% static 'images/infrastructures_.png' %}" 
                        class="card-img card_image_transparent" alt="infrastructure">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 10px;">{% translate "Infrastructures not start" %}</h5><br />
                        <p class="card-title text-warning" style="font-weight: bold !important">{{ total_infrastruture_not_started }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card mb-0" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img 
                        src="{% static 'images/subproject.png' %}" 
                        class="card-img card_image_transparent" alt="infrastructure">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 10px;">{% translate "Infrastructures in progress" %}</h5><br />
                        <p class="card-title text-info" style="font-weight: bold !important">{{ total_infrastruture_in_progress }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card mb-0" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img 
                        src="{% static 'images/infrastructures_.png' %}" 
                        class="card-img card_image_transparent" alt="infrastructure">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 10px;">{% translate "Infrastructures completed" %}</h5><br />
                        <p class="card-title text-success" style="font-weight: bold !important">{{ total_infrastruture_completed }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<canvas id="status_pie_chart" class="pie-chart"></canvas>
<script type="text/javascript">
let statusPieChartCanvas = $('#status_pie_chart').get(0).getContext('2d');

    const DATA_COUNT = 7;
const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};

const labels = Utils.months({count: 7});
const data = {
  labels: labels,
  datasets: [
    {
      label: 'Dataset 1',
      data: Utils.numbers(NUMBER_CFG),
      borderColor: Utils.CHART_COLORS.red,
      backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
    },
    {
      label: 'Dataset 2',
      data: Utils.numbers(NUMBER_CFG),
      borderColor: Utils.CHART_COLORS.blue,
      backgroundColor: Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
    }
  ]
};


    const config = {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
            bar: {
                borderWidth: 2,
            }
            },
            responsive: true,
            plugins: {
            legend: {
                position: 'right',
            },
            title: {
                display: true,
                text: 'Chart.js Horizontal Bar Chart'
            }
            }
        },
    };



const actions = [
  {
    name: 'Randomize',
    handler(chart) {
      chart.data.datasets.forEach(dataset => {
        dataset.data = Utils.numbers({count: chart.data.labels.length, min: -100, max: 100});
      });
      chart.update();
    }
  },
  {
    name: 'Add Dataset',
    handler(chart) {
      const data = chart.data;
      const dsColor = Utils.namedColor(chart.data.datasets.length);
      const newDataset = {
        label: 'Dataset ' + (data.datasets.length + 1),
        backgroundColor: Utils.transparentize(dsColor, 0.5),
        borderColor: dsColor,
        borderWidth: 1,
        data: Utils.numbers({count: data.labels.length, min: -100, max: 100}),
      };
      chart.data.datasets.push(newDataset);
      chart.update();
    }
  },
  {
    name: 'Add Data',
    handler(chart) {
      const data = chart.data;
      if (data.datasets.length > 0) {
        data.labels = Utils.months({count: data.labels.length + 1});

        for (let index = 0; index < data.datasets.length; ++index) {
          data.datasets[index].data.push(Utils.rand(-100, 100));
        }

        chart.update();
      }
    }
  },
  {
    name: 'Remove Dataset',
    handler(chart) {
      chart.data.datasets.pop();
      chart.update();
    }
  },
  {
    name: 'Remove Data',
    handler(chart) {
      chart.data.labels.splice(-1, 1); // remove the label first

      chart.data.datasets.forEach(dataset => {
        dataset.data.pop();
      });

      chart.update();
    }
  }
];



let statusChart = new Chart(statusPieChartCanvas, {
                        config: config,
                        data: data,
                        actions: actions
                    });
</script>