{% load i18n %}
<div class="container-fluid px-0 mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link {% if active_menu == 'dashboard' %}active{% endif %}" href="{% url 'financial:financial_dashboard' %}"><i class="fas fa-chart-pie mr-1"></i> {% translate "Financial dashboard" %}</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if active_menu in 'project_ida,funding,category,component,ptba' %}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-layer-group mr-1"></i> {% translate "Structure & PTBA" %}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item {% if active_menu == 'project_ida' %}active{% endif %}" href="{% url 'financial:project_ida_list' %}">{% translate "IDA Projects" %}</a>
                <a class="dropdown-item {% if active_menu == 'funding' %}active{% endif %}" href="{% url 'financial:funding_list' %}">{% translate "Credits & Grants" %}</a>
                <a class="dropdown-item {% if active_menu == 'category' %}active{% endif %}" href="{% url 'financial:category_list' %}">{% translate "IDA categories" %}</a>
                <a class="dropdown-item {% if active_menu == 'component' %}active{% endif %}" href="{% url 'financial:component_list' %}">{% translate "Components" %}</a>
                <a class="dropdown-item {% if active_menu == 'ptba' %}active{% endif %}" href="{% url 'financial:annual_work_plan_list' %}">{% translate "Annual work plans" %} (PTBA)</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link {% if active_menu == 'disbursement_requests' %}active{% endif %}" href="{% url 'financial:disbursement_requests_list' %}"><i class="fas fa-file-invoice-dollar mr-1"></i> {% translate "Disbursements Request" %}</a></li>
        <li class="nav-item"><a class="nav-link {% if active_menu == 'disbursements' %}active{% endif %}" href="{% url 'financial:disbursements_list' %}"><i class="fas fa-hand-holding-usd mr-1"></i> {% translate "Disbursements" %}</a></li>
        <li class="nav-item"><a class="nav-link {% if active_menu == 'supporting_document' %}active{% endif %}" href="{% url 'financial:supporting_document_list' %}"><i class="fas fa-paperclip mr-1"></i> {% translate "Supporting documents" %}</a></li>
        <li class="nav-item"><a class="nav-link {% if active_menu == 'bank_transfers' %}active{% endif %}" href="{% url 'financial:bank_transfers_list' %}"><i class="fas fa-exchange-alt mr-1"></i> {% translate "Bank transfers" %}</a></li>
        <li class="nav-item"><a class="nav-link {% if active_menu == 'allocations' %}active{% endif %}" href="{% url 'financial:allocations_list' %}"><i class="fas fa-sitemap mr-1"></i> {% translate "Allocations" %}</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if active_menu in 'accounts,account_balances,banks' %}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-users-cog mr-1"></i> {% translate "Accounts" %}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item {% if active_menu == 'accounts' %}active{% endif %}" href="{% url 'financial:account_list' %}">{% translate "Accounts" %}</a>
                <a class="dropdown-item {% if active_menu == 'account_balances' %}active{% endif %}" href="{% url 'financial:account_balances_list' %}">{% translate "Account balances" %}</a>
                <a class="dropdown-item {% if active_menu == 'banks' %}active{% endif %}" href="{% url 'financial:bank_list' %}">{% translate "Banks" %}</a>
            </div>
        </li>
    </ul>
</div>
