{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}
{% block extracss %}
    {{ block.super }}
    <link href="{% static 'AdminLTE/plugins/chart.js/Chart.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="clearfix"></div>
            <div class="row administrative-level-filter">
                <div class="col-2">
                    {% bootstrap_field form_adl.region show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.prefecture show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.commune show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.canton show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.village show_label=False %}
                </div>
                <div class="col-2">
                    <a class="btn fs12 text-bold-family text-primary pull-right p-0" style="margin-top: 8px;"
                        id="clear_all_filters">
                        {% translate "Clear all filters" %}
                    </a>
                </div>
            </div>





            <div class="card">


                <div class="container">
                    <ul class="nav nav-tabs">
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link active nav-tab-toggle" data-toggle="tab" href="#summary_subprojects" >{% translate "Subprojects Dashboard" %}</a></li>
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link nav-tab-toggle" data-toggle="tab" href="#summary_financing" >{% translate "Financing Dashboard" %}</a></li>
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link nav-tab-toggle" data-toggle="tab" href="#summary_indicators" >{% translate "Indicators" %}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="summary_subprojects" class="tab-pane active">
                            <div class="card">
                                <div class="card-body">
                                    <div id="summary_subprojects-list">
                                        <h3>{% translate "Subprojects Dashboard" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="summary_subprojects-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div>
                        
                        <div id="summary_financing" class="tab-pane">
                            <div class="card">
                                <div class="card-body">
                                    <div id="summary_financing-list">
                                        <h3>{% translate "Financing Dashboard" %}</h3>
                                        <div class="tab-pane" id="p-diagnostics">
                                            {% include 'common/under_construction_col.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay" id="summary_financing-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>
                        </div>
                        
                        <div id="summary_indicators" class="tab-pane">
                            <div class="card">
                                <div class="card-body">
                                    <div id="summary_indicators-list">
                                        <h3>{% translate "Indicators" %}</h3>
                                        <div class="tab-pane" id="p-diagnostics">
                                            {% include 'common/under_construction_col.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="overlay" id="summary_indicators-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>



                    
            </div>


            {% comment %} <div class="card">
                <div class="card-body table-responsive">
                    <div id="subprojects-number-list">
                        <h3>{% translate "Subprojects by administrative level and sector" %}</h3>
                    </div>
                </div>
                <div class="overlay" id="subprojects-number-spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>
            <br /><br />

            <div class="card">
                <div class="card-body table-responsive">
                    <div id="subprojects-sectors-steps-number-list">
                        <h3>{% translate "Number of sub-projects by administrative level, sector and step" %}</h3>
                    </div>
                </div>
                <div class="overlay" id="subprojects-sectors-steps-number-spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>
            <br /><br />

            <div class="card">
                <div class="card-body table-responsive">
                    <div id="subprojects-steps-number-list">
                        <h3>{% translate "Subprojects by step" %}</h3>
                    </div>
                </div>
                <div class="overlay" id="subprojects-steps-number-spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>
            <br /><br /> {% endcomment %}


            {% comment %} <div class="card">
                <div class="card-body">

                </div>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    
    <script src="{% static 'AdminLTE/plugins/chart.js/Chart.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}
            let administrative_level_ids = ["id_region", "id_prefecture", "id_commune", "id_canton", "id_village"];
            let summary_subprojects_spin = $('#summary_subprojects-spin');
            let summary_subprojects_number = $('#summary_subprojects-list');

            var administrative_level_id = null;
            var administrative_level_type = null;
            var current_nav_link = 'summary_subprojects';
            var current_nav_links = [];


            function loadSubprojects(administrative_level_id=null, administrative_level_type=null) {
                summary_subprojects_spin.show();
                $.ajax({
                    type: "GET",
                    url: "{% url 'dashboard:dashboard_summary_subprojects' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type
                    },
                    success: function (response) {
                        summary_subprojects_spin.hide();
                        
                        summary_subprojects_number.html(response);

                        current_nav_links.push('summary_subprojects');
                    },
                    error: function (data) {
                        summary_subprojects_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }


            
            function callNavLinkPage(){
                if(!current_nav_links.includes('summary_subprojects') && current_nav_link.includes('summary_subprojects')){
                    loadSubprojects(administrative_level_id, administrative_level_type);
                }
            }
            
            callNavLinkPage();
            
            
            
            $('.administrative-level-filter select').on('change', function () {
                let elt_id;
                for(let i=0; i<administrative_level_ids.length; i++){
                    elt_id = administrative_level_ids[i];
                    if($(this).attr('id') != elt_id) $(`#${elt_id}`).val([]).trigger('change.select2');
                }
                administrative_level_id = null;
                administrative_level_type = null;
                console.log($(this).val());
                if($(this).attr('id') && $(this).val().length != 0){
                    administrative_level_type = $(this).attr('id').split('_')[1];
                    administrative_level_id = $(this).val();
                    current_nav_links = [];
                    callNavLinkPage();
                }
            });



            $("#clear_all_filters").on("click", function () {
                $('.administrative-level-filter input').val('');
                $('.administrative-level-filter select').val(null).trigger('change.select2');
                administrative_level_id = null;
                administrative_level_type = null;
                current_nav_links = [];
                callNavLinkPage();
            });

            $('.nav-tab-toggle').on('click', function () {
                current_nav_link = this.href;
                callNavLinkPage();
            });


        });
    </script>
{% endblock %}



{% block select2 %}
    <script type="text/javascript">
        $("#id_region").select2({
            placeholder: "{% translate 'Region' %}",
            allowClear: true
        });
        $("#id_prefecture").select2({
            placeholder: "{% translate 'Prefecture' %}",
            allowClear: true,
        });
        $("#id_commune").select2({
            placeholder: "{% translate 'Commune' %}",
            allowClear: true,
        });
         $("#id_canton").select2({
            placeholder: "{% translate 'Canton' %}",
            allowClear: true,
        });
         $("#id_village").select2({
            placeholder: "{% translate 'Village' %}",
            allowClear: true,
        });

        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

    </script>
{% endblock select2 %}