{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="clearfix"></div>
            <div class="row administrative-level-filter">
                <div class="col-2">
                    {% bootstrap_field form_adl.region show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.prefecture show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.commune show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.canton show_label=False %}
                </div>
                <div class="col-2">
                    {% bootstrap_field form_adl.village show_label=False %}
                </div>
                <div class="col-2">
                    <a class="btn fs12 text-bold-family text-primary pull-right p-0" style="margin-top: 8px;"
                        id="clear_all_filters">
                        {% translate "Clear all filters" %}
                    </a>
                </div>
            </div>
            <div class="row subprojects-filter">
                <div class="col-3">
                    {% bootstrap_field form_suproject.subproject_sectors show_label=False %}
                </div>
                <div class="col-3">
                    {% bootstrap_field form_suproject.subproject_types show_label=False %}
                </div>
                <div class="col-3">
                    {% bootstrap_field form_suproject.works_type_of_subproject show_label=False %}
                </div>
                <div class="col-3">
                    {% bootstrap_field form_suproject.subproject_step show_label=False %}
                </div>
            </div>





            <div class="card">


                <div class="container">
                    <ul class="nav nav-tabs">
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link active nav-tab-toggle" data-toggle="tab" href="#Grouped-by-sub-sector" >{% translate "Grouped by sector" %}</a></li>
                        {% comment %} <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link nav-tab-toggle" data-toggle="tab" href="#Grouped-by-sector" >{% translate "Grouped by sector" %}</a></li> {% endcomment %}
                        <li style="width: 25%;" class="nav-item btn"><a style="font-size: 11px;" class="nav-link nav-tab-toggle" data-toggle="tab" href="#Grouped-by-type" >{% translate "Grouped by type" %}</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="Grouped-by-sub-sector" class="tab-pane active">
                            <div class="card">
                                <div class="card-body">
                                    <div id="grouped-by-sub-sector-list">
                                        <h3>{% translate "Grouped by sector" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="grouped-by-sub-sector-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div>

                        {% comment %} <div id="Grouped-by-sector" class="tab-pane fade">
                            <div class="card">
                                <div class="card-body">
                                    <div id="grouped-by-sector-list">
                                        <h3>{% translate "Grouped by sector" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="grouped-by-sector-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div> {% endcomment %}

                        <div id="Grouped-by-type" class="tab-pane fade">
                            <div class="card">
                                <div class="card-body">
                                    <div id="grouped-by-type-list">
                                        <h3>{% translate "Grouped by type" %}</h3>
                                    </div>
                                </div>
                                <div class="overlay" id="grouped-by-type-spin">
                                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                </div>
                            </div>

                        </div>
                        

                    </div>

                </div>


                    
            </div>


        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}
            let administrative_level_ids = ["id_region", "id_prefecture", "id_commune", "id_canton", "id_village"];
            let subprojects_number_spin = $('#grouped-by-sector-spin');
            let subprojects_number = $('#grouped-by-sector-list');
            let subprojects_sub_number_spin = $('#grouped-by-sub-sector-spin');
            let subprojects_sub_number = $('#grouped-by-sub-sector-list');
            let subprojects_by_type_spin = $('#grouped-by-type-spin');
            let subprojects_by_type = $('#grouped-by-type-list');
            var administrative_level_id = null;
            var administrative_level_type = null;
            var current_nav_link = 'Grouped-by-sub-sector';
            var current_nav_links = [];


            function goupedBySector(administrative_level_id=null, administrative_level_type=null) {
                subprojects_number_spin.show();
                subprojects_number.html('');
                $.ajax({
                    type: "GET",
                    url: "{% url 'subprojects:display_grouped:display_grouped_by_sector' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type,
                        id_subproject_sectors: $('#id_subproject_sectors').val(),
                        id_subproject_types: $('#id_subproject_types').val(),
                        id_works_type_of_subproject: $('#id_works_type_of_subproject').val(),
                        id_subproject_step: $('#id_subproject_step').val(),
                    },
                    success: function (response) {
                        subprojects_number_spin.hide();
                        
                        subprojects_number.html(response);

                        current_nav_links.push('Grouped-by-sector');
                    },
                    error: function (data) {
                        subprojects_number_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }


            function goupedBySectorSub(administrative_level_id=null, administrative_level_type=null) {
                subprojects_sub_number_spin.show();
                subprojects_sub_number.html('');
                
                $.ajax({
                    type: "GET",
                    url: "{% url 'subprojects:display_grouped:display_grouped_by_sector_sub' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type,
                        id_subproject_sectors: $('#id_subproject_sectors').val(),
                        id_subproject_types: $('#id_subproject_types').val(),
                        id_works_type_of_subproject: $('#id_works_type_of_subproject').val(),
                        id_subproject_step: $('#id_subproject_step').val(),
                    },
                    success: function (response) {
                        subprojects_sub_number_spin.hide();
                        
                        subprojects_sub_number.html(response);

                        current_nav_links.push('Grouped-by-sub-sector');
                    },
                    error: function (data) {
                        subprojects_sub_number_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }


            function goupedByTypeSub(administrative_level_id=null, administrative_level_type=null) {
                subprojects_by_type_spin.show();
                subprojects_by_type.html('');
                $.ajax({
                    type: "GET",
                    url: "{% url 'subprojects:display_grouped:display_grouped_by_type_sub' %}",
                    data: {
                        administrative_level_id: administrative_level_id,
                        administrative_level_type: administrative_level_type,
                        id_subproject_sectors: $('#id_subproject_sectors').val(),
                        id_subproject_types: $('#id_subproject_types').val(),
                        id_works_type_of_subproject: $('#id_works_type_of_subproject').val(),
                        id_subproject_step: $('#id_subproject_step').val(),
                    },
                    success: function (response) {
                        subprojects_by_type_spin.hide();
                        
                        subprojects_by_type.html(response);

                        current_nav_links.push('Grouped-by-type');
                    },
                    error: function (data) {
                        subprojects_by_type_spin.hide();
                        alert(error_server_message + "Error " + data.status);
                    }
                });
            }

            
            function callNavLinkPage(){
                if(!current_nav_links.includes('Grouped-by-sector') && current_nav_link.includes('Grouped-by-sector')){
                    goupedBySector(administrative_level_id, administrative_level_type);
                }else if(!current_nav_links.includes('Grouped-by-sub-sector') && current_nav_link.includes('Grouped-by-sub-sector')){
                    goupedBySectorSub(administrative_level_id, administrative_level_type);
                }else if(!current_nav_links.includes('Grouped-by-type') && current_nav_link.includes('Grouped-by-type')){
                    goupedByTypeSub(administrative_level_id, administrative_level_type);
                }
            }
            
            callNavLinkPage();
            
            
            
            $('.administrative-level-filter select').on('change', function () {
                let elt_id;
                for(let i=0; i<administrative_level_ids.length; i++){
                    elt_id = administrative_level_ids[i];
                    if($(this).attr('id') != elt_id) $(`#${elt_id}`).val([]).trigger('change.select2');
                }
                administrative_level_id = null;
                administrative_level_type = null;
                
                if($(this).attr('id') && $(this).val().length != 0){
                    administrative_level_type = $(this).attr('id').split('_')[1];
                    administrative_level_id = $(this).val();
                    current_nav_links = [];
                    callNavLinkPage();
                }
            });
            
            $('.subprojects-filter select').on('change', function () {
                if($(this).attr('id') && $(this).val().length != 0){
                    current_nav_links = [];
                    callNavLinkPage();
                }
            });



            $("#clear_all_filters").on("click", function () {
                $('.administrative-level-filter input').val('');
                $('.administrative-level-filter select').val(null).trigger('change.select2');
                $('.subprojects-filter input').val('');
                $('.subprojects-filter select').val(null).trigger('change.select2');
                administrative_level_id = null;
                administrative_level_type = null;
                current_nav_links = [];
                callNavLinkPage();
            });

            $('.nav-tab-toggle').on('click', function () {
                current_nav_link = this.href;
                callNavLinkPage();
            });


        });
    </script>
{% endblock %}



{% block select2 %}
    <script type="text/javascript">
        $("#id_region").select2({
            placeholder: "{% translate 'Region' %}",
            allowClear: true
        });
        $("#id_prefecture").select2({
            placeholder: "{% translate 'Prefecture' %}",
            allowClear: true,
        });
        $("#id_commune").select2({
            placeholder: "{% translate 'Commune' %}",
            allowClear: true,
        });
         $("#id_canton").select2({
            placeholder: "{% translate 'Canton' %}",
            allowClear: true,
        });
         $("#id_village").select2({
            placeholder: "{% translate 'Village' %}",
            allowClear: true,
        });
        $("#id_subproject_sectors").select2({
            placeholder: "{% translate 'Subproject sector' %}",
            allowClear: true,
        });
         $("#id_subproject_types").select2({
            placeholder: "{% translate 'Type of structure' %}",
            allowClear: true,
        });
         $("#id_works_type_of_subproject").select2({
            placeholder: "{% translate 'Works type' %}",
            allowClear: true,
        });
         $("#id_subproject_step").select2({
            placeholder: "{% translate 'Status' %}",
            allowClear: true,
        });

        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

    </script>
{% endblock select2 %}